.App {
  text-align: center;
}

.Metronome {
  text-align: center;
  padding: 20px;
  background: #cbcbcb;
  width: 50%;
  margin: auto; 
}

.Beat {
  width: 20px !important;
  height: 25px;
  background-color: #3498db;
  border-radius: 50%;
}

.play {
  width: 0;
  height: 0;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-left: 30px solid green;
  background-color: transparent;
}

.stop {
  width: 40px;
  height: 40px;
  background-color: red;
}

